body {
	font-family: 'Open Sans', 'Arial', sans-serif;
}

.intro {
	background-color:#211f1e;
	background-image:url(../img/intro-bg.jpg);
	background-position: 0 center;
	background-repeat: repeat-y;
}

/*pre-header*/
.pre-header-nav {
	background-color: #1a1919;
	padding-top:5px;
	
}
.pre-header-nav .navbar{
	margin-bottom:0;
	
}

.pre-header-nav a {
	font-size: 12px;
	font-weight: 700;
	color:#545557;
	text-transform: uppercase;
} 

.pre-header-social {
	padding-top:10px;
}

.pre-header-social .social-btn {
	width: 22px;
	height: 24px;
	background-color: #1a1919;
	background-image: url("../img/icon-vk.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px
}

.pre-header-social .social-btn-inst {
	background-image: url("../img/icon-inst.png");
}

.pre-header-social .social-btn-youtube {
	width: 27px;
	height:24px;
	margin-right: 40px;
	background-image: url(../img/icon-youtube.png);
}

.zolotoy-shop {
	padding-top:10px;
}

.form-control {
	background-color: #1a1919;
	padding-right:0;
	border: 1px solid #545557;
    border-radius: 12px;
}

.form-group .glyphicon {
	top:5px;
	right:32px;
	font-size: 18px;
	color: #545557;
}

.language {
	padding-top:10px;
}



/*main-header*/
.main-header {
	padding-top:25px;
	margin-bottom:50px;
}
.main-header .logo{
	padding-top:20px;
}
.main-title {
	padding-bottom:20px;
	border-bottom: 2px solid #fcbf00;
	margin-bottom:15px;
}
.main-title-name {
	padding:0;
}

.main-title h1 {
	padding:0;
	color: #fcbf00;
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
}

.title {
	position:relative;
	padding-top:20px;
	padding-right:85px;
	width:250px;
	color:#979693;
	font-size:12px;
	line-height: 15px;
	text-transform: uppercase;
}

.title::after {
	position: absolute;
	right:0;
	top:-15px;
	content:'';
	display:block;
	width:73px;
	height:84px;
	background-image:url(../img/icon-cup.png);
}

.main-nav a {
	color:#7e7d7d;
	font-size: 14px;
	font-weight:700;
	text-transform: uppercase;
}

.main-menu a:hover {
	
}

.main-menu li.active a {
	background-color: transparent;
	color:#fcbf00;
}




/*intro img*/

.intro-img-container {
	padding:0;
}

.intro-img {
	position: relative;
}

.last-news {
	display:block;
	
	bottom:0;
	font-sixe:16px;
	text-transform: uppercase;
}
.last-news .col-sm-2 {
	margin:0;
	padding-right:0;
}

.last-news .col-sm-10  {
	margin:0;
	padding-left:0;
}

.last-news a{
	display: block;
	padding: 15px 10px;
}

.last-news-title {
	color: #ffffff;
	
	background-color: rgba(169,136,48,0.9);
}

.last-news-item {
	color: #232520;
	font-weight: 700;
	
	background-color:rgba(213,177,80,0.85);
}

.last-news .caret {
	transform: rotate(-90deg) scale(1.5);
	
}

/*results*/

.game-results{
	background-color:#2f2d29;
	padding-top:40px;
}

.game-results h2 {
	font-size:16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 5px solid #e7bb44;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.game {
	margin-bottom: 15px;
}

.game-result {
	background-color: #504f4b;
	display: table;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
} 

.game-info {
	font-size: 10px;
	text-transform: uppercase;
	color:#7e7d7d;
	display: table;
	width:100%;
}
.game-info .date {
	display: table-cell;
	text-align: right;
	width: 48%;
}
.game-info .separate {
	display: table-cell;
	text-align:center;
}

.game-info .sport {
	display: table-cell;
	text-align:left;
	width: 48%;
}

.game-result .name {
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
}

.game-result .owner {
	display: table-cell;
	width:37%;
	vertical-align:middle;
}

.game-result .guest {
	display: table-cell;
	width:37%;
	vertical-align:middle;
}

.game-result .name-zolotoy {
	color:#f7cb55;
}

.game-result .count {
	font-size:24px;
	line-height: 40px;
	font-weight: 700;
	color: #ffffff;
	vertical-align:middle;
	display: table-cell;
}
.owner-result{
	display:inline-block;
	width:35px;
	text-align: right;
}
.guest-result{
	display:inline-block;
	width:35px;
	text-align: left;
}
.games-resource-item {
	color: #979797;
	font-size:10px;
	display:inline-block;
	text-transform: uppercase;
	height: 30px;
}



/*table of results*/
.table-results {
	font-size:12px;
	line-height:18px;
	font-weight:700;
	text-transform: uppercase;
	background-color: #504f4b;
	color:#979693;
}

.table-results caption {
	font-size:16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	border-bottom: 5px solid #e7bb44;
	padding-top:0;
	margin-bottom:10px;
}

.table-results caption caret {
	transform:scale(1.5);
}

.table-results th {
	color: #ffffff;
	border: none;
	background-color: #2f2d29;
}

.table > tbody > tr > td, .table > thead > tr > th {
    border-top: 1px solid #2f2d29;
    padding: 8px;
    vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom: none;
}

.table > tbody > tr.zolotoy_cell>td {
	background-color: #8f752f;
	color: #ffffff;
}

.table-results td{
	height:50px;
	vertical-align: middle;
}

.table-results .number {
	text-align:center;
}
.table-results .team-logo{
	text-align:center;
}

.table-results .team-result {
	min-width: 45px;
	text-align:center;
}


/*teams*/
.teams {
	font-size:12px;
	text-transform: uppercase;
	font-weigt: 400;
	color: #000000;
	background-color: #d2a630;
	padding-top:25px;
	padding-bottom:45px;
}

.team-item {
	padding-bottom: 30px;
}

.teams .row{
	margin-left:0px;
	margin-right:0px;
}
.teams [class*='col-'] {
	padding-right:6px;
	padding-left:6px;
}

.team-item .row {
	margin-left: 0;
	margin-right:0;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom: 1px solid #000000;
	padding-right:10px;
}

.team-item .img-responsive{
	margin-bottom:10px;
	width:100%;
}

.team-item .status {
	line-height: 25px;
}

.teams header {
	font-size:16px;
	font-weight:700;
	text-transform: uppercase;
	color: #000000;
	padding-bottom:10px;
	margin-bottom:15px;
	border-bottom: 5px solid #000000;
}

.teams .names p{
	font-weight:700;
	padding-left:10px;
	margin:0;
}

.teams .positions p{
	margin:0;
}
 
/*news&interviews*/
.news-interviews {
	padding-top: 20px;
}

.news-interviews h3 {
	font-size:16px;
	text-transform: uppercase;
	font-weight: 700;
	color:#275b9c;
	margin-bottom: 30px;
}

.news-block {
	margin-bottom: 75px;
}

.news h3{
	margin-left:15px;
}

.date-times {
	font-weight: 700;
	font-size:14px;
	color: #000000;
}

.news-interviews .explic {
	font-size: 14px;
	line-height: 22px;
	color: #888888;
}

.interview-block {
	margin-bottom: 20px;
}

.interview-block .author {
	font-weight: 700;
}


/*footer*/
.main-footer {
	background-color: #232633;
}

.main-footer {
	padding-top:47px;
	padding-bottom: 70px;
	font-size:14px;
	line-height: 24px;
	font-weight: 400;
	color:#888787;
}

 .main-footer .partner {
	 display:inline-block;
	 padding-left:40px;
	 padding-right:40px;
	 padding-bottom:20px;
 }

.main-footer h3 {
	font-size:16px;
	font-weight: 700;
	margin-top:45px;
	margin-bottom: 35px;
	text-transform: uppercase;
	color: #ffffff;
}

.main-footer .phone {
	color: #ffffff;
}

.main-footer .phone a {
	color: #ffffff;
}

.footer-social .social-btn {
	width: 22px;
	height: 24px;
	background-image: url("../img/icon-vk-footer.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}

.footer-social .social-btn-inst {
	background-image: url("../img/icon-inst-footer.png");
}

.footer-social .social-btn-youtube {
	width: 27px;
	height:19px;
	background-image: url(../img/icon-youtube-footer.png);
}
